# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pcm

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# altro
root/results
/build
/build_mt
/.vscode
merge_root.sh
compile.sh
*.ipynb
*.DS_store
include/.DS_Store
src/.DS_Store
